.header {
  background-color: #2b7148;
  color: white;
  height: 4em;
}

.cabecalho {
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cabecalho button {
  color: white;
  background-color: darkblue;
  border: 0;
  width: 10em;
  height: 2.2em;
  border-radius: 5px;
}

.cabecalho input {
  width: 14em;
  height: 2.4em;
}

.cabecalho-login label {
  margin: 1em;
}

.cabecalho-login button {
  margin: 1em;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.content .rodadas {
  padding-right: 1em;
}

.rodadas-cabecalho {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3em;
  width: 25em;
  background-color: #2b7148;
  font-weight: bold;
  font-size: 20px;
}

.rodadas-cabecalho button {
  border: 0;
  background-color: transparent;
}

.rodadas-cabecalho button img {
  width: 4em;
}

.rodadas-conteudo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 37em;
  width: 25em;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}

.jogos {
  width: 22em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.2em;
}

.jogos li {
  width: 25em;
  display: flex;
  justify-content: space-between;
}

.jogos li img {
  width: 3.3em;
  height: 3.1em;
}

.jogos li input {
  width: 2em;
  height: 2em;
  text-align: center;
  border-radius: 1em;
}

.jogos li .placar {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.jogos li .placar-logado-1{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

body {
  background-color: rgb(236, 235, 220);
}

ul {
  list-style-type: none;
}

.classifica-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3em;
  width: 33.4em;
  background-color: #2b7148;
  font-weight: bold;
  font-size: 18px;
}

.classifica-header button {
  border: 0;
  background-color: transparent;
}

.classifica-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28em;
  width: 30em;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}

.classifca-lista-conteudo {
  display: flex;
  flex-wrap: wrap;
  width: 30em;
  justify-content: space-around;
  align-items: center;
}

.classifca-lista-conteudo li {
  display: flex;
  width: 30em;
  justify-content: space-around;
  align-items: center;
  padding-right: 1em;
}

.classifca-lista-conteudo li img {
  width: 1.3em;
  height: 1.1em;
  margin-right: 1em;
}

.classifca-lista-conteudo li .indice-posicao {
  font-size: 20px;
}

.editar button,
.check button {
  background-color: transparent;
  border: 0;
}

.editar img,
.check img {
  width: 1em;
}
