.header {
  background-color: #2b7148;
  color: white;
  height: 4em;
}

.cabecalho {
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cabecalho img{
	width: 2em;
	height: 2em;
}

.cabecalho-1{
	display: flex;
	justify-content: flex-end;
}

.cabecalho button {
  color: white;
  background-color: darkblue;
  border: 0;
  width: 10em;
  height: 2.2em;
  border-radius: 5px;
}

.cabecalho input {
  width: 14em;
  height: 2.4em;
}

.cabecalho-login label {
  margin: 1em;
}

.cabecalho-login button {
  margin: 1em;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.content .rodadas {
  padding-right: 4.2em;
}

.rodadas-cabecalho {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3em;
  width: 25em;
  background-color: #2b7148;
  font-weight: bold;
  font-size: 20px;
}

.rodadas-cabecalho button {
  border: 0;
  background-color: transparent;
}

.rodadas-cabecalho button img {
  width: 4em;
}

.rodadas-conteudo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 34em;
  width: 25em;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}

.jogos {
  width: 22em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.2em;
}

.jogos li {
  width: 25em;
  display: flex;
  justify-content: space-around;
}

.jogos li img {
  width: 3.3em;
  height: 3.1em;
}

.jogos li input {
  width: 0.8em;
  height: 1.5em;
  text-align: center;
  border-radius: 1em;
  font-size: 0.8em;
  font-weight: bold;
}

.jogos li .placar {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
  font-size: 1.5em;
}

.jogos li .placar-logado-1{
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
  font-size: 2em;
}

body {
  background-color: rgb(236, 235, 220);
}

ul {
  list-style-type: none;
}

.classifica-header {
	background-color: #2b7148;
}
  

.classifica-header button {
  border: 0;
  background-color: transparent;
}

.classifica-lista {
  height: 650px;
  width: 600px;
  background-color: white;
  font-weight: bold;
}


table,
tr,
td,
th {
	border-collapse: collapse;
	font-size: large;
}

td,
th {
    padding: 0.25em;
}

tr:nth-child(1){
	height: 60px;
}

td:nth-child(2),
th:nth-child(2) {
    text-align: center;
}

.editar button,
.check button {
 background-color: #2b7148;
 border-radius: 100%;
  border: none;
}

.editar img,
.check img {
  width: 1em;
  border: 0;
}
